
<div class="col-xs-6 col-xs-offset-3">
<h2>Enter Your Question</h2>
  <%=	simple_form_for @question do |f| %>
	<%= f.input :category, :as  =>:select, :collection => Question::CATEGORIES %>
	<%= f.input :questiontext, :label => "Question Text", :input_html => {:rows => 10}  %>

	<br />
	<%= f.submit 'Add Your Question', :class => 'btn btn-danger' %>
<% end %>
</div>


