// Place all the styles related to the qbox controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
	background: #000;
	position: relative;
	text-align: center;
	margin-top: 150px;
	z-index: 3;
}

a {

	color: #fff;
}

.clear{
	clear:both;
}

.topbar {

	/* Monospace stack */
font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
line-height: 20px;
}

.logo-main{

color: #E1BCF5;
font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
font-size: 42px;
font-weight: 300;
position: relative;
text-align: center;
text-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
margin-top: 150px;
z-index: 3;

}

.slogan {

/* Trebuchet-based sans serif stack */
color: #fff;
font-size: 18px;
font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
position: relative;
text-align: center;

}